					<div class="row justify-content-center">
						<div class="col-12 col-md-10 col-lg-5">
							<input type="number" class="btn-hw border-heavy form-control" min="0" step="0.01" placeholder="1.65" aria-label="Altura" aria-describedby="basic-addon1" id="input-area" required>
						</div>
					</div>