
					<div class="row justify-content-between">
						<div class="col-5 col-md-4 col-lg-3"><button class="btn btn-hw color-heavy btn-block answer" aria-pressed="false" id="btn-left">Masculino</button></div>
						<div class="col-5 col-md-4 col-lg-3"><button class="btn btn-hw color-heavy btn-block answer" aria-pressed="false" id="btn-right">Feminino</button></div>
					</div>
