					<div class="row v-divider"></div>
					<div class="footer container-flex">
						<p>
							*A informação sobre sexo biológico é necessária para garantir assertividade do sistema, seus dados não serão
							registrados.
						</p>
					</div>