			<div class="col-11 col-md-8">
				<div class="containter-flex color-light" id="title">
					<h1>
						<%= title %>
					</h1>
				</div>
				<% if (content) { %>
				<%- include(`../${content}`) %>
				<% } %>
				<% if (symptomNames) { %>
					<ul>
					  <% for( let i = 0; i < symptomNames.length; i++ ) { %>
					  <li><%= symptomNames[i] %></li>
					  <% } %>
					</ul>
				  <% } %>
				<% if (raw) { %>
				<%- raw %>
				<% } %>
			</div>
