    <nav class="navbar-light color-heavy navbar-fixed-top row justify-content-center">
        <div class="col-12 col-md-8">

            <div class="row header justify-content-center">
                <!-- navbar-expand-lg -->
                <div class="col-2 col-md-1">
                    <button type="button" class="btn" data-toggle="collapse" data-target="#toggler"
                        aria-controls="side-bar" aria-expanded="false" aria-label="Barra de navegação">
                        <svg class="bi bi-layout-sidebar-inset" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14 2H2a1 1 0 00-1 1v10a1 1 0 001 1h12a1 1 0 001-1V3a1 1 0 00-1-1zM2 1a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V3a2 2 0 00-2-2H2z"
                                clip-rule="evenodd" />
                            <path d="M3 4a1 1 0 011-1h2a1 1 0 011 1v8a1 1 0 01-1 1H4a1 1 0 01-1-1V4z" />
                        </svg>
                    </button>
                </div>
                <div class="col-7 col-md-10 the-logo">
                    <spam class="the-logo">
                        HealthWeb
                    </spam>
                </div>
                <div class="col-2 col-md-1">
                    <button type="button" class="btn">
                        <svg class="bi bi-moon" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.53 10.53a7 7 0 01-9.058-9.058A7.003 7.003 0 008 15a7.002 7.002 0 006.53-4.47z"
                                clip-rule="evenodd" />
                        </svg>
                        <!-- <span class="navbar-toggler-icon"></span> -->
                    </button>
                </div>
            </div>
        </div>
    </nav>